<div>
  <%= image_tag 'top.png', width: '315' %>
</div>
<br>
<h2>この組み合わせでアイデアが湧いてくる…！</h2>
<div id="image_area">
  <%= render partial: 'image', locals: { post: @post } %>
</div>

<div id="button">
  <%= link_to "組み合わせを変える", edit_post_path(@post), class: "square_btn" %>
</div>
<br>
<div>
  <p><i>〜〜全てのアイデアは組み合わせ〜〜</i><br>ランダムに表示される2つのキーワードからアイデアを発想し、ツイートできるサービスです！</p>
</div>
<div>
	<%= link_to "アイデアを記入してTwitter投稿へ", twitter_path(@post),class: "square_btn2" %>
</div>
<div>
  <small class="text-muted">生成された画像はツイートに表示されます</small>
</div>
