<div>
  <%= image_tag 'top.png', width: '315' %>
</div>

<div>
  <p>ランダムに表示される2つのキーワードからアイデアを発想し、ツイートできるサービスです！</p>
  <p>生成される画像を確認してからツイートするか決められます！まずは下のボタンからキーワードを表示してみてください^^</p>
</div>

<%= render 'form', post: @post %>
